<section class="section">
    <header class="mb-2">
        <h2 class="title is-4">Lista de Posts</h2>
        <a href="/admin/posts/add"><button class="button is-primary">Nova Postagem</button></a>
    </header>
</section>