<header class="header is-relative has-background-light is-clipped">
    <nav class="navbar has-background-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand is-align-items-center">
            <a class="navbar-item" href="">
                Blog NodeJS
            </a>

            <a role="button" class="navbar-burger  navbar-menu-open is-flex-touch is-align-items-center is-justify-content-center" aria-label="menu" aria-expanded="false" data-target="menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="menu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>
            </div>
        </div>
    </nav>
</header>